@import "tailwindcss";
@import "@operatio/ui/globals.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-jetbrains-mono), ui-monospace, monospace;
  --font-fira: var(--font-fira-code), ui-monospace, monospace;
}

html {
  @apply scroll-smooth;
}

code,
pre {
  font-family: var(--font-fira-code), var(--font-jetbrains-mono), ui-monospace,
    monospace;
}
